body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana,sans-serif;
}
.main {
    margin: auto;
    width: 60%;
}

.clickable {
    cursor: pointer;
}

.moder {
  background: burlywood;
  border-radius: 3px;
  font-weight: bold;
  font-size:small;
  padding: 2px;
}
